<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>

<!------ Include the above in your HEAD tag ---------->

<div class="container">

    <div class="col-md-10 col-md-offset-1 main" >
        <div class="col-md-6 left-side" >
            <h3>SiDDiQUiE.NET</h3>
            <p>Connect to SiDDiQUiE.NET network.</p>
            <br>


        </div><!--col-sm-6-->

        <div class="col-md-6 right-side">
            <h3>Login</h3>

            <!--Form with header-->
            <div class="form">


                <div class="form-group">
                    <label for="form2">Your usersname / e-mail</label>
                    <input type="text" id="form2" class="form-control input-lg">

                </div>

                <div class="form-group">
                    <label for="form4">Your password</label>
                    <input type="password" id="form4" class="form-control input-lg">

                </div>

                <div class="text-xs-center">
                    <button class="btn btn-deep-purple">Login</button>
                </div>


            </div>
            <!--/Form with header-->

        </div><!--col-sm-6-->


    </div><!--col-sm-8-->

</div><!--container-->
</body>
</html>